@model BugTracker.WebUI.Models.MilestoneViewModel

@{
    ViewBag.Title = "Create";
}

@section AddToHead{
    <link href="~/Content/Colorgraph.css" rel="stylesheet" />
    <link href="~/Content/datepicker.css" rel="stylesheet" />
    <script src="~/Scripts/misc/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/misc/Milestone_datepicker.js"></script>
}

<div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <h2>Create a new milestone</h2>
            <hr class="colorgraph" />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Name", autofocus = "" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input class="span2 form-control" id="dp1" type="text" placeholder="Due date">
                <input type="hidden" name="Date" id="Date" />
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
            
            <p>I also need a project!!</p>
            
            <hr class="colorgraph" />

            <div class="form-group">
                @Html.ActionLink("Cancel", "Index", "Issue", null, new { @class = "btn btn-default", style = "width:24.5%" })
                <input type="submit" value="Create" class="btn btn-primary" style="width:24.5%" />
            </div>
        }
    </div>
</div>