@model BugTracker.WebUI.Models.MilestoneIndexViewModel

@{
    ViewBag.Title = "Index";
}

@section AddToHead{
    <link href="~/Content/Colorgraph.css" rel="stylesheet" />
    <script src="~/Scripts/misc/ModalDeleteMilestone.js"></script>
}

<h2>Milestones</h2>
<hr class="colorgraph">
@for (int i = 0; i < Model.Projects.Count(); i++)
{
    <h4>@Model.Projects[i].Name</h4>
    foreach (var milestone in Model.MilestoneDetails)
    {
        if (milestone.ProjectId == @Model.Projects[i].ProjectId)
        {
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <strong>@milestone.Name</strong>
                        <p>Due date: @milestone.Date.Date.ToString("d")</p>
                    </div>
                    <div class="col-md-8">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: @milestone.ClosedIssues%"></div>
                            <div class="progress-bar progress-bar-info" style="width: @milestone.InTestingIssues%"></div>
                            <div class="progress-bar progress-bar-warning" style="width : @milestone.InProgressIssues%"></div>
                            <div class="progress-bar progress-bar-danger" style="width: @milestone.ClosedIssues%"></div>
                        </div>
                    </div>
                </div>
            </div>

            if (User.IsInRole("Manager"))
            {
                <span class="pull-right">
                    <button class="btn btn-sm btn-warning" type="button" data-toggle="tooltip"
                            data-original-title="Edit this issue" data-placement="top">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>

                    <button class="btn btn-sm btn-danger open-deleteMilestoneDialog" type="button" data-toggle="modal" href="#deleteMilestoneDialog"
                            data-id="@milestone.MilestoneId" data-name="@milestone.Name">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </span>
                <br />
            }

            if (i != Model.Projects.Count - 1)
            {
                <hr />
            }
        }
    }
}
<hr class="colorgraph">

<div class="modal fade" id="deleteMilestoneDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete milestone</h4>
            </div>
            <div class="modal-body">
                <p id="questionDelete"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" id="userId">Delete</a>
            </div>
        </div>
    </div>
</div>